<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="jmsConnectionFactoryForBroker02" class="com.yz.framework.queue.activemq.SecureActiveMQConnectionFactory">
    <property name="brokerURL" value="${queue.service.broker02.brokerURL}" />
    <property name="userName" value="${queue.service.broker02.userName}" />
    <property name="password" value="${queue.service.broker02.password}" />
    <property name="key" value="${queue.security.aeskey}" />
  </bean>
	
	<!-- Spring DMLC -->
  <bean id="serviceConsumerContainerForBroker02" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
    <property name="connectionFactory" ref="jmsConnectionFactoryForBroker02" />
    <property name="destination" ref="serviceQueue" />
    <property name="concurrency" value="10-1000" />
    <property name="messageListener">
      <bean class="com.yz.framework.service.consumer.activemq.ServiceConsumerListener">
		<property name="executeTask" ref="executeProduceTask"/>
      </bean>
    </property>
  </bean>
	
	<!-- 库存变化记录同步gc  -->
	<bean id="delayedListenerContainerForBroker02" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsConnectionFactoryForBroker02" />
		<property name="destination" ref="delayedControlQueue" />
		<property name="concurrency" value="10-1000" />
		<property name="messageListener">
	    	<bean class="com.yz.framework.service.consumer.activemq.DelayedControlConsumerListener">
	    		<property name="executeTask" ref="executeProduceTask"/>
	      		<property name="redisTemplate" ref="redisTemplate"></property>
			</bean>
		</property>
	</bean>
	
	<bean id="wmsListenerContainerForBroker02" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
    <property name="connectionFactory" ref="jmsConnectionFactoryForBroker02" />
    <property name="destination" ref="serviceWmsQueue" />
    <property name="concurrency" value="10-1000" />
    <property name="messageListener">
      <bean class="com.yz.framework.service.consumer.activemq.ServiceWmsConsumerListener">
		<property name="executeTask" ref="executeProduceTask"/>
      </bean>
    </property>
  </bean>
  
</beans>


