<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>
	</appender>
	<appender name="FILE_DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="File" value="${catalina.base}/logs/zk-admin/debug.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="debug" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="FILE_ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="File" value="${catalina.base}/logs/zk-admin/error.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="error" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="FILE_ALL" class="org.apache.log4j.DailyRollingFileAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="File" value="${catalina.base}/logs/zk-admin/all.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
		</layout>
	</appender>
	<appender name="SYSLOG" class="org.apache.log4j.net.SyslogAppender">
		<param name="syslogHost" value="127.0.0.1" />
		<param name="facility" value="user" />
		<param name="facilityPrinting" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value=" %m" />
		</layout>
	</appender>
	<category name="com.yz">
		<priority value="debug" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="com.yz.framework">
		<priority value="debug" />
		<appender-ref ref="FILE_DEBUG" />
	</category>
	<root>
		<priority value="info" />
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="FILE_ERROR" />
		<appender-ref ref="FILE_ALL" />
	</root>
</log4j:configuration>  