<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit-1.6.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-4.2.xsd
">


    <bean id="jsonMessageConverter"
          class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter">
    </bean>

    <task:executor id="taskExecutor" pool-size="4-256" queue-capacity="128"/>

    <!-- virtual host /-->
    <rabbit:connection-factory id="connectionFactory" addresses="${rabbitmq.addresses}"
                               username="${rabbitmq.username}" password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtualHost}"/>

    <rabbit:admin id="admin1" connection-factory="connectionFactory"/>

    <rabbit:template id="rabbitTemplate" exchange="mmcExchange" connection-factory="connectionFactory"
                     message-converter="jsonMessageConverter" channel-transacted="true"/>

    <rabbit:queue id="mmc.rebate.result" name="mmc.rebate.result" durable="true" auto-delete="false"
                  exclusive="false" declared-by="admin1"/>

    <rabbit:topic-exchange id="mmcExchange" name="mmcExchange" durable="true" auto-delete="false"
                           declared-by="admin1">
        <rabbit:bindings>
            <rabbit:binding queue="mmc.rebate.result" pattern="mmc.rebate.result"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <rabbit:annotation-driven/>

    <bean id="rabbitListenerContainerFactory"
          class="org.springframework.amqp.rabbit.config.SimpleRabbitListenerContainerFactory">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="messageConverter" ref="jsonMessageConverter"/>
        <property name="concurrentConsumers" value="1"/>
        <property name="maxConcurrentConsumers" value="10"/>
        <property name="transactionManager" value="transactionManager"/>
        <property name="taskExecutor" ref="taskExecutor"/>
        <property name="channelTransacted" value="true"/>
    </bean>

</beans>